<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @message.title %>
</p>

<p>
  <strong>Message:</strong>
  <%= @message.message %>
</p>

<p>
  <strong>From:</strong>
  <%= @message.creator.username %>
</p>

<%= link_to 'Back', posts_url %>