<p id="notice"><%= notice %></p>

<h1>All Posts</h1>

<%= form_tag(posts_path, :method => "get", id: "search-form") do %>
<%= text_field_tag :search, params[:search], placeholder: "Search State" %>
<%= submit_tag "Search" %>
<% end %>

<% @posts.each do |post| %>
  <%= link_to(post) do %>
  <h3><%= post.title %> <small>@<%= post.user.username %> <%= post.created_at.to_s(:short) %></small></h3>
  <% end %>
  <%= image_tag post.image_url, class:"img-responsive img-half-width" %>
  <p><%= post.content %></p>
  <p><%= post.state %> <%= post.zipcode %></p>
  <small><%= link_to 'Edit', edit_post_path(post) %></small> | 
  <small><%= link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure?' } %></small>
<% end %>
