<!DOCTYPE html>
<html>

<head>
  <title>Connecting Restaurants to Charities</title>
  
  <!--Bootstrap CSS -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" integrity="sha256-MfvZlkHCEqatNoGiOXveE8FIwMzZg4W85qfrfIFBfYc= sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ=="
  crossorigin="anonymous">
  
  <%= stylesheet_link_tag "application", :media=> "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body>
  <div class="container"><!-- main container -->
    
    <!-- navbar inside main container means it scrolls with the content -->
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <%= link_to 'Connecting Restaurants to Charities', posts_path, class: "navbar-brand" %>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <% if signed_in? %>
              <li>
                <a><%= current_user.username %></a><!-- <a> element is temporary, should link_to current_user.profile -->
              </li>
              <li>
                <%= link_to 'New Post', new_post_path %>
              </li>
              <li>
                <%= link_to "Sign Out", session_url, :method=> :delete %>
              </li>
            <% else %>
              <li>
                <%= link_to "Sign In", new_session_url %>
              </li>
              <li>
                <%= link_to "Sign Up", new_user_url %>
              </li>
            <% end %>
          </ul>
        </div><!--/.nav-collapse -->
      </div><!--/.container-fluid -->
    </nav>


    <% #below is where any errors we have passed to flash.now appear %>
    <%= render "layouts/errors" %>

    <% #below is where whatever view we are using will load, everything above is available on every page %>
    <%= yield %>

  </div><!-- main container -->

  <!-- jQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <!-- Bootstrap JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha256-Sk3nkD6mLTMOF0EOpNtsIry+s1CsaqQC1rVLTAy+0yc= sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
</body>
</html>